---
import { Image } from "astro:assets";
import Modal from "../../components/Modal.astro";

export type Props = {
  imageUrl: string;
  imageId: string;
};

const { imageUrl, imageId } = Astro.props;
---

<Image class="border-8 border-orange-700" src={imageUrl} alt="person wearing makeup" inferSize={true} />
<Modal id=`work-${imageId}` open="open image modal">
  <main slot="main">
    <p>Some extra content you would like here</p>
    <hr />
    <img width="60" height="80" src="https://placehold.co/50x50" alt="Placeholder" />
  </main>
  <button slot="close">Close modal</button>
</Modal>
