---
import Button from "../../components/Button.astro";
import Navbar from "./Navbar.astro";
---

<header class="flex justify-around items-center">
  <a href="/">
    <img src="https://placehold.co/150" />
  </a>
  <Navbar />
  <Button>BOOK NOW</Button>
  <div>INSTA</div>
</header>
