@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Voga";
  src: url("/fonts/Voga-Medium.woff2") format("woff2"), url("/fonts/Voga-Medium.woff") format("woff"),
    url("/fonts/Voga-Medium.ttf") format("truetype"), url("/fonts/Voga-Medium.otf") format("opentype");
}

@theme {
  --font-boujee: "Voga", "Suranna", serif;
  --font-classy: "Montserrat", sans-serif;
  /* TODO custom color to suite original MBE pallete. These tailwind defaults will do for now... */
  --color-mbe-dark: var(--color-zinc-900);
  --color-mbe-light: var(--color-orange-50);
  /* --color-mbe-dark-muted: var(--color-blue-600);
  --color-mbe-light-muted: var(--color-blue-400);
  --color-mbe-accent-light: var(--color-rose-400);
  --color-mbe-accent-light-muted: var(--color-rose-300);
  --color-mbe-accent-dark: var(--color-rose-600);
  --color-mbe-accent-dark-muted: var(--color-rose-800); */
}

.mbe-bg {
  background-color: var(--color-mbe-light);
  :where(.dark, .dark *) & {
    background-color: var(--color-mbe-dark);
  }
}

.-mbe-bg {
  background-color: var(--color-mbe-dark);
  :where(.dark, .dark *) & {
    background-color: var(--color-mbe-light);
  }
}

.mbe-text {
  color: var(--color-mbe-dark);
  :where(.dark, .dark *) & {
    color: var(--color-mbe-light);
  }
}

.-mbe-text {
  color: var(--color-mbe-light);
  :where(.dark, .dark *) & {
    color: var(--color-mbe-dark);
  }
}
