---
import { Image } from "astro:assets";
import Modal from "../../components/Modal.astro";

export type Props = {
  imageUrl: string;
  imageId: string;
};

const { imageUrl, imageId } = Astro.props;
---

<Modal id=`work-${imageId}` open="open image modal">
  <Image slot="open" class="border-8 border-orange-700" src={imageUrl} alt="person wearing makeup" inferSize />
  <div slot="content" class="max-w-2xl">
    <Image class="border-8 border-orange-700 max-h-full" src={imageUrl} alt="person wearing makeup" inferSize />
  </div>
</Modal>
