---
import { Image } from "astro:assets";
import DropdownInput from "../../components/forms/DropdownInput.astro";
import Input from "../../components/forms/Input.astro";
import StandardPageLayout from "../../layouts/StandardPageLayout.astro";
import TextboxInput from "../../components/forms/TextboxInput.astro";
---

<StandardPageLayout title="CONTACT">
  <div class="flex space-x-10">
    <form class="flex flex-col space-y-4 w-2xl">
      <Input name="name" type="text" />
      <Input name="phone" type="text" />
      <Input name="email" type="text" />
      <Input name="event-date" type="date" />
      <DropdownInput name="foobar" />
      <Input name="service" type="number" />
      <Input name="total-people-makeup" type="number" />
      <Input name="total-people-hair" type="text" />
      <Input name="time-to-finish-by" type="text" />
      <Input name="address-for-service" type="text" />
      <TextboxInput name="additional-information" />
    </form>
    <Image src="https://placehold.co/400x600" alt="person wearing makeup" inferSize />
  </div>
</StandardPageLayout>
