---
import { cx } from "../../utils/cx";

export type Props = {
  centre?: boolean;
  class?: string;
};

const { centre, class: classNames } = Astro.props;
---

<p class={cx(["font-classy", centre ? "text-center" : ""], classNames)}>
  <slot />
</p>
