---
import { cx } from "../utils/cx";

export type Props = {
  class?: string;
  variant?: Variant;
  url?: string;
  type?: "submit" | "reset" | "button" | null | undefined;
};
type Variant = "primary" | "secondary" | "tertiary" | "link";

const { url, variant, class: className, type } = Astro.props;

const variantStyle: Record<Variant, string> = {
  primary: "-mbe-bg -mbe-text",
  secondary: "bg-transparent mbe-text border-1",
  tertiary: "bg-transparent mbe-text",
  link: "bg-transparent mbe-text",
};

const baseStyle = variantStyle[variant ?? "primary"] + " py-3 px-5 font-classy";
---

{
  url ? (
    <a class={cx(baseStyle, "hover:underline", className)} href={url}>
      <slot />
    </a>
  ) : (
    <button class={cx(baseStyle, "cursor-pointer", className)} type={type ?? "submit"}>
      <slot />
    </button>
  )
}
