---
import Button from "./Button.astro";

const links = [
  {
    url: "/about-me",
    name: "ABOUT",
  },
  {
    url: "/services",
    name: "SERVICES",
  },
  {
    url: "/works",
    name: "PORTFOLIO",
  },
  {
    url: "/contact",
    name: "CONTACT",
  },
  {
    url: "/faq",
    name: "FAQ",
  },
];
---

<nav class="flex justify-between">
  {
    links.map((link) => (
      <Button variant="tertiary" url={link.url}>
        {link.name}
      </Button>
    ))
  }
</nav>
